.popup { 
	border-radius: 5px;
	width: 440px;
}
.btn, .btn:focus, .btn:active {
	outline: 0 !important;
}
.form-group {
	color: black;
}
.form_popup {
	background-color: white;
	color: green;
	border: 2px solid green;
	border-radius: 5px;
}
.form_popup:focus, .form_popup:hover {
	background-color: green;
	color: white;
	border: 2px solid white;
}
/* Dropdown button for form */
span.selectpicker {
	display: none;
}
button.btn.dropdown-toggle.btn-default {
	width: 60% !important;
}
button.btn.dropdown-toggle.btn-default, button.btn.dropdown-toggle.btn-default:focus, 
button.btn.dropdown-toggle.btn-default:active  {
	outline: 0 !important;
}
