.popup { 
	border-radius: 5px;
	width: 400px;
}

.btn, .btn:focus, .btn:active {
	outline: 0 !important;
}

.form-group {
	color: black;
}

/* Dropdown button for form */
span.selectpicker {
	display: none;
}
button.btn.dropdown-toggle.btn-default {
	width: 60% !important;
}
button.btn.dropdown-toggle.btn-default, button.btn.dropdown-toggle.btn-default:focus, 
button.btn.dropdown-toggle.btn-default:active  {
	outline: 0 !important;
}
